<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
   		
		<h:head>
			<h:outputStylesheet library="css" name="estilo.css"/>
			
			<f:event listener="#{masterBean.verificarSesion()}" type="preRenderView"></f:event>
			
			<title><ui:insert name="Titulo">Blog - Inicio</ui:insert></title>
		</h:head>
		<body class="resolucion">
		<ui:insert name="header">
		<p:menubar>
		<p:menuitem value="Inicio" url="../protegido/principal.xhtml" icon="pi pi-th-large" />
		<p:menuitem value="Citas Registradas" url="../protegido/citas.xhtml" icon="pi pi-comment" />
		
 
        <p:submenu label="Registro" icon="pi pi-pencil">
            <p:menuitem value="Registrar" url="../protegido/personas.xhtml" icon="pi pi-user" />
           
        </p:submenu>
        
    
        <f:facet name="options">
            <p:commandButton value="Logout" icon="pi pi-power-off" actionListener="#{masterBean.cerrarSesion()}"
            action="index?faces-redirect=true" inmediate="true"/>
        </f:facet>
    </p:menubar>
		</ui:insert>
		
		<ui:insert name="content">
		
		</ui:insert>
		
		<ui:insert name="footer">
			<div></div>
		</ui:insert>
		
		</body>
		
</html>