.resolucion{
	width: 850px; margin: 0 auto;
}

.ui-widget{
	font-size: 82% !important;
}

.ui-widget .ui-widget{
	font-size: 100% !important;
}

body{
	
	font-family: lato;
}
    .logo {
        width: 5%;
    }
    .detail {
        width: 85%;
        padding-left: 25px;
    }
