<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
		
	<ui:composition template="/WEB-INF/template/master.xhtml">
		<ui:define name="content">
			<h1>Asignar Roles</h1>
			<h:form>
				<p:growl id="growl" showDetail="true" sticky="true" />
				<p:selectOneMenu value="#{asignarBean.personas}" converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="----Seleccione----" itemValue="#{null}" noSelectionOption="true"/>
					<f:selectItems value="#{asignarBean.lista_personas}" var="e" itemValue="#{e}" itemLabel="#{e.nombres} #{e.apellidos}"/>
				</p:selectOneMenu>
				
				<p:pickList id="picklist" value="#{asignarBean.dual}" var="e" itemLabel="#{e.tipo}" itemValue="#{e}">
					<o:converter converterId="omnifaces.ListIndexConverter" list="#{asignarBean.dual.source}"/>
				</p:pickList>
				
				<p:commandButton value="Asignar" actionListener="#{asignarBean.asignar()}"/>
			</h:form>
		</ui:define>
	</ui:composition>
</html>