<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<body>
<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
      		<h1>Muro Publicacion Seguidores</h1>
      		<h:form id="frm">
      		<h:panelGrid columns="1" dir="pg">
      				<p:repeat var="e" value="#{principalBean.publicaciones}">
      					<h:panelGrid columns="2" style="width:100%"
							columnClasses="logo,detail">
							<p:graphicImage value="/imagen/#{e.publicador.idPersona}"
								width="32" height="32" />
							<p:outputPanel>
								<h:panelGrid columns="2" cellpadding="5">
									<h:outputText value="Publicado por: " />
									<h:outputText
										value="#{e.publicador.apellidos} #{e.publicador.nombres}" />
									<h:outputText value="Publicación: " />
									<h:outputText value="#{e.cuerpo}" />
									<h:outputText value="Fecha:" />
									<h:outputText value="#{e.fecha}" >
									<f:convertDateTime type="localDate"
										pattern="dd/MM/yyyy - HH:mm:ss" />
									</h:outputText>
								</h:panelGrid>
							</p:outputPanel>
						</h:panelGrid>
						<hr />
      				</p:repeat>
      		</h:panelGrid>
      		</h:form>
	</ui:define>
</ui:composition>
</body>
</html>