<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/master.xhtml">
	<ui:define name="content">
		<h1>Usuario</h1>
		<h:form id="forms" enctype="multipart/form-data">
			<p:dataView var="us" value="#{usuarioBean.us}">
 
        	<p:dataViewGridItem>
            <p:panel header="#{us.id}" style="text-align:center">
                <h:panelGrid columns="2" cellpadding="5" style="width:150%">
                	<h:outputText value="Usuario"/>
                    <br/>
                        <h:outputText value="Nombre:"/>
                        <h:outputText value="#{us.persona.nombres}" style="font-weight: bold"/>
                        
                        <h:outputText value="NombreUsuario:" />
                        <h:outputText value="#{us.usuario}" style="font-weight: bold"/>
                        
                        <h:outputText value="Contraseña Encryptada (ByCrypt):" />
                        <h:outputText value="#{us.clave}" style="font-weight: bold"/>
                    
                    <p:commandButton actionListener="#{usuarioBean.mostrarData(us)}"
						oncomplete="PF('wdlg').show();" update=":forms:dlg"
						immediate="true" process="@this" title="Ver Datos">
                        <h:outputText icon="pi pi-pencil" style="margin:0 auto;" />
                    </p:commandButton>
                </h:panelGrid>
            </p:panel>
        </p:dataViewGridItem>
 
        <p:dataViewListItem>
        	<link href="./resources/css/estilo.css" rel="stylesheet" type="text/css" />
            <h:panelGrid columns="3" style="width:100%" columnClasses="logo,detail">
                <h:outputText value="#{us.persona.foto}"/>
 
                <p:outputPanel>
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="Nombre:" />
                        <h:outputText value="#{us.persona.nombres}" style="font-weight: bold"/>
 
                        <h:outputText value="Apellido:" />
                        <h:outputText value="#{us.persona.apellidos}" style="font-weight: bold"/>
 
                        <h:outputText value="Direccion:" />
                        <h:outputText value="#{us.persona.direccion}" style="font-weight: bold"/>
                        
                        <h:outputText value="Pais:" />
                        <h:outputText value="#{us.persona.pais}" style="font-weight: bold"/>
                        
                        <h:outputText value="Sexo:" />
                        <h:outputText value="#{us.persona.sexo}" style="font-weight: bold"/>
                        
                        <h:outputText value="NombreUsuario:" />
                        <h:outputText value="#{us.usuario}" style="font-weight: bold"/>
                    </h:panelGrid>
                </p:outputPanel>
 
                 <p:commandButton actionListener="#{usuarioBean.mostrarData(us)}"
						oncomplete="PF('wdlg').show();" update=":forms:dlg"
						immediate="true" process="@this" title="Modificar Datos">
                        <h:outputText icon="pi pi-pencil" style="margin:0 auto;" />
                    </p:commandButton>
            </h:panelGrid>
        </p:dataViewListItem>
    </p:dataView>
 
  <p:dialog id="dlg" header="#{usuarioBean.tipoDialogo}"
				widgetVar="wdlg" modal="true" closeOnEscape="true" resizable="false"
				draggable="true">

				<h:panelGrid id="pgus" columns="3">
					
					<p:outputLabel for="txtNombres" value="Nombres"/>
    					<p:inputText id="txtNombres" required="true" value="#{usuarioBean.us.persona.nombres}"/>
    					<p:message for="txtNombres" display="icon"/>
    					
    				<p:outputLabel for="txtApellidos" value="Apellidos"/>
    					<p:inputText id="txtApellidos" required="true" value="#{usuarioBean.us.persona.apellidos}"/>
    					<p:message for="txtApellidos" display="icon"/>

					<p:outputLabel value="Usuario" for="txtUsuario" />
					<p:inputText id="txtUsuario" required="true"
						value="#{usuarioBean.us.usuario}" />
					<p:message for="txtUsuario" display="text" />

					<p:outputLabel value="Clave" for="txtClave" />
					<p:inputText id="txtClave" required="true"
						value="#{usuarioBean.us.clave}" />
					<p:message for="txtClave" display="text" />
				</h:panelGrid>
				
				<p:commandButton value="Actualizar"
					actionListener="#{usuarioBean.operar('M')}"
					oncomplete="if(args &amp;&amp; !args.validationFailed) PF('wdlg').hide()"
					ajax="true" update=":forms:dts"
					rendered="#{usuarioBean.tipoDialogo == 'Modificar Usuario'}" />
					
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>
<h:head></h:head>
</html>